# This is a template for what the secrets file should look like
# To use this template, fill in the fields and then remove .template from the file name
FB_EMAIL = "exmaple@exmaple.com"
FB_PASSWORD = "password123"
